<div id="portfolio" class="our-portfolio section full-width-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>See What Our Agency <em>Offers</em> & What We <span>Provide</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="hidden-content">
                            <h4>Certified Mutual Fund</h4>
                            <p>Guiding you to make informed mutual fund investments.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Certified Mutual Fund</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="hidden-content">
                            <h4>Insurance Advisor</h4>
                            <p>Helping you secure life, health, and asset insurance.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Insurance Advisor</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="hidden-content">
                            <h4>Share Market Classes</h4>
                            <p>Learn to invest confidently in the stock market.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Share Market Classes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="hidden-content">
                            <h4>Tax & GST Filing</h4>
                            <p>Ensuring accurate tax and GST filings for compliance.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Tax & GST Filing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <div class="hidden-content">
                            <h4>Loan Services</h4>
                            <p>Assisting in finding the best loan options for your needs.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Loan Services</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#">
                    <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="hidden-content">
                            <h4>Stock Advisory Services</h4>
                            <p>Providing insights to help you make smart stock investments.</p>
                        </div>
                        <div class="showed-content">
                            <p class="fw-bold">Stock Advisory Services</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>