<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="about-left-image.png" alt="person graphic">
                </div>
            </div>
            <div class="col-lg-8 align-self-center">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                    <!-- <img src="assets/images/service-icon-01.png" alt="reporting"> -->
                                </div>
                                <div class="right-text">
                                    <h4>Financial Clarity for a Fulfilling Life</h4>
                                    <p>We believe in empowering individuals with financial understanding as the foundation for a well-rounded life.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                                <div class="icon">
                                    <!-- <img src="assets/images/service-icon-02.png" alt=""> -->
                                </div>
                                <div class="right-text">
                                    <h4>Tailored Personal Finance Solutions</h4>
                                    <p>From budgeting to retirement planning, our services are customized to fit your unique financial journey and goals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                                <div class="icon">
                                    <!-- <img src="assets/images/service-icon-03.png" alt=""> -->
                                </div>
                                <div class="right-text">
                                    <h4>Commitment to Transparency & Education</h4>
                                    <p>Our advice empowers confident financial choices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                                <div class="icon">
                                    <!-- <img src="assets/images/service-icon-04.png" alt=""> -->
                                </div>
                                <div class="right-text">
                                    <h4>Empowering Wealth & Dream Building</h4>
                                    <p>Partner with VGrow to take control of your financial future, grow your wealth, and bring your dreams to life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>