<div class="container-fluid pt-3  footer_container">
    <div class="row">
        <div class="col-12 col-lg-3">
            <img src="vgrowlogo.png" alt="logo" height="75" width="75">
            <!-- <span class="fs-5 fw-medium cmpTitle ps-2">{{cmpTitle}}</span> -->
            <div class="social_icons">
                <ul class="social_icon ps-0">
                    <li><a target="_blank"
                            href="https://www.instagram.com/vgrow_consultancy?igsh=MWoyaDBuODFobGUyaQ%3D%3D"
                            class="rounded"><img src="si1.png" alt="social" height="25px" class="pe-2"></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/share/kNhuPXe2r6MjdATA/?mibextid=LQQJ4d"
                            class="rounded"><img src="si2.png" alt="social" height="25px" class="pe-2"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/v-grow-consultancy/"
                            class="rounded"><img src="si3.png" alt="social" height="25px" class="pe-2"></a></li>
                    <li><a target="_blank" href="https://x.com/vgrowconsultant?s=11"
                            class="rounded"><img src="icons8-twitterx-48.png" alt="social" height="25px" class="pe-2"></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/@vgrowconsultancy"
                            class="rounded"><img src="icons8-youtube-48.png" alt="social" height="25px" class="pe-2"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <p class="fs-5 fw-medium mt-3 footer_subTitle">Quick Links</p>
                    <ul class="mt-4 foot_Links ps-0">
                        <li class="mb-2"><a routerLink="/">Home</a></li>
                        <li class="mb-2"><a routerLink="/cac">Services</a></li>
                        <li class="mb-2"><a routerLink="/cac">About</a></li>
                        <li class="mb-2"><a routerLink="/contactUs">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p class="fs-5 fw-medium mt-3 footer_subTitle">Services</p>
                    <ul class="mt-4 foot_Links ps-0">
                        <li class="mb-2"><a routerLink="/services">Corporate Finance Consulting</a></li>
                        <li class="mb-2"><a routerLink="/services">Investment Consulting</a></li>
                        <li class="mb-2"><a routerLink="/services">Financial Planning and Analysis </a></li>
                        <li class="mb-2"><a routerLink="/services">Management Consulting</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p class="fs-5 fw-medium mt-3 footer_subTitle">Clients</p>
                    <ul class="mt-4 foot_Links ps-0">
                        <li class="mb-2"><a routerLink="/ims">Google</a></li>
                        <li class="mb-2"><a routerLink="/gst">ZOHO</a></li>
                        <li class="mb-2"><a routerLink="/cac">Mind Tree</a></li>
                        <li class="mb-2"><a routerLink="/ia">Wipro</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p class="fs-5 fw-medium mt-3 footer_subTitle">Contact Info</p>
                    <ul class="mt-4 foot_Links ps-0">
                        <li class="mb-2"><a target="_blank" href="mailTo:connect@vgrow.com">{{mail}}</a></li>
                        <li class="mb-2"><a target="_blank" href="https://wa.link/fd932z">+91 98947 04946</a></li>
                        <li class="mb-2"><a target="_blank" href="https://wa.link/fd932z">+91 98947 04946</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center pt-3 pb-2 bgColor copyRight">
    <p class="mb-0">&copy; {{ currentYear }} VGrow All rights reserved.</p>
    <p class="mb-0">Powerd By <a href="https://www.linkedin.com/in/contactkrithick/">Krithick</a></p>
</div>