<section class="hero_section mt-2" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="container">
        <div class="row my-3 my-lg-0">
            <div class="col-12 col-lg-6  d-flex flex-column justify-content-center align-items-center align-items-lg-start my-3 my-lg-0">
                <div class="head">
                    <p class="mb-0 ps-3">VGrow Financial Consultancy</p>
                </div>
                <div class="head-1 my-3">
                    <p class="mb-0">We are available for Financial Consultancy</p>
                </div>
                <div class="head-2 mb-4">
                    <p class="mb-0">Empowering your financial future, one step at a time.</p>
                </div>
                <div class="head-3">
                    <a href="https://forms.gle/yp8adNEmLHEY6MW98" target="_blank" class="demat-btn">Free Demat</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 img_conatiner">
                <img src="Financial data-amico.svg" alt="banner">
            </div>
        </div>     
    </div>
</section>
