.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-1);
  padding-block: 15px;
  border-block-end: 1px solid var(--cultured);
  z-index: 4;
  transition: var(--transition-1);
}


.header.active {
  filter: drop-shadow(var(--shadow-2));
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--ff-league-spartan);
  color: var(--black);
  font-size: 3.5rem;
  font-weight: var(--fw-700);
  line-height: 1;
}
.navbar {
  background-color: var(--white-1);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 30px);
  width: 100%;
  padding-inline: 0;
  border: 1px solid var(--cultured);
  transition: 0.3s var(--cubic-out);
  max-height: 0;
  overflow: hidden;
}

.navbar.active {
  max-height: 320px;
  transition-duration: 0.5s;
}

.navbar-list {
  padding: 20px 15px;
  padding-block-start: 10px;
  opacity: 0;
  transition: var(--transition-1);
}

.navbar.active .navbar-list {
  opacity: 1;
}

.navbar-link {
  color: var(--eerie-black);
  font-family: var(--ff-league-spartan);
  font-size: var(--fs-4);
  line-height: 1.2;
  padding-block: 8px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--red-crayola);
}

.header .btn {
  margin-block-start: 10px;
}

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4.5rem;
    --fs-2: 3.7rem;
    --fs-3: 2.3rem;
    --fs-4: 1.8rem;
    --fs-5: 1.5rem;
    --fs-6: 1.4rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 65ch;
    margin-inline: auto;
  }

  /**
   * HERO
   */

  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  /**
   * ABOUT
   */

  .about-banner {
    max-width: 550px;
  }

  .about .section-text {
    max-width: unset;
    margin-inline: 0;
  }

  /**
   * CONTACT
   */

  .contact-form {
    padding: 30px;
  }

  .contact-item {
    min-width: calc(50% - 12.5px);
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 4rem;
    --fs-3: 2.5rem;

    /**
     * spacing
     */

    --section-padding: 100px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * HEADER
   */

  .nav-toggle-btn {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    all: unset;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    position: relative;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--eerie-black);
  }

  .navbar-link::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: var(--gradient);
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-2);
  }

  .navbar-link:is(:hover, :focus)::after {
    transform: scaleX(1);
  }

  .header .btn {
    margin-block-start: 0;
  }

  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    text-align: left;
  }

  .hero-content {
    margin-block-end: 0;
  }

  .hero-subtitle {
    position: relative;
    padding-inline-start: 15px;
  }

  .hero-subtitle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--red-crayola);
  }

  .hero-text,
  .hero .btn {
    margin-inline: 0;
  }

  /**
   * SERVICE
   */

  .service-card {
    padding: 20px;
  }

  .service-card .h3 {
    --fs-3: 2.3rem;
  }

  /**
   * PROJECT
   */

  .project-card .card-subtitle {
    --fs-6: 1.5rem;
  }

  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner {
    margin-block-end: 0;
  }

  /**
   * BLOG
   */

  .blog .grid-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .blog .grid-list > li:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  .blog-card:not(.grid) {
    height: 100%;
  }

  .blog-card .card-content {
    padding-block: 10px;
  }

  .blog-card:not(.grid) .card-content {
    padding: 25px;
  }

  .blog-card.grid .h3 {
    --fs-3: 2rem;
  }

  .blog-card .time {
    --fs-6: 1.6rem;
  }

  /**
   * CONTACT
   */

  .checkbox-wrapper {
    margin-block: 20px;
  }

  .contact-item {
    min-width: calc(33.33% - 16.66px);
  }

  .contact-card {
    padding: 30px;
  }

  .contact-card .card-icon {
    font-size: 32px;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 6.8rem;
    --fs-2: 4.5rem;
    --fs-4: 1.9rem;
    --fs-5: 1.6rem;
    --fs-6: 1.6rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1140px;
  }

  .btn {
    --fs-6: 1.5rem;
  }

  /**
   * SERVICE
   */

  .service-card {
    padding: 30px;
  }

  .service-card .h3 {
    --fs-3: 2.5rem;
  }

  /**
   * PROJECT
   */

  .project-card .card-content {
    padding: 30px;
  }

  .project-card .card-subtitle {
    --fs-6: 1.6rem;
  }

  /**
   * ABOUT
   */

  .about .container {
    gap: 60px;
  }

  .about-item {
    gap: 7px;
  }

  .about-item ion-icon {
    font-size: 20px;
  }

  /**
   * CTA
   */

  .cta .section-title {
    margin-block: 15px 24px;
  }

  /**
   * BLOG
   */

  .blog-card .time {
    --fs-6: 1.6rem;
  }

  .blog-card.grid .h3 {
    --fs-3: 2.4rem;
  }

  /**
   * CONTACT
   */

  .contact-form {
    padding: 50px;
  }

  .contact-card {
    gap: 20px;
  }

  .contact-card .card-icon {
    padding: 15px;
  }
}
