<header class="header" data-header>
  <div class="container">

    <a href="#" class="logo">V-Grow</a>
    @if(isActive){
      <nav class="navbar container" [class.active]="isActive" data-navbar>
        <ul class="navbar-list">
  
          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>
  
          <li>
            <a href="#service" class="navbar-link" data-nav-link>Services</a>
          </li>
  
          <li>
            <a href="#project" class="navbar-link" data-nav-link>Project</a>
          </li>
  
          <li>
            <a href="#about" class="navbar-link" data-nav-link>About Us</a>
          </li>
  
          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li>
  
          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>
  
          <li>
            <a href="#" class="btn btn-primary">Free Demat</a>
          </li>
  
        </ul>
      </nav>
    }
   
    <button class="nav-toggle-btn" [class.active]="isActive" aria-label="Toggle menu" data-nav-toggler
      (click)="toggleMenu()">
      @if(isActive){
      <div class="close">
        <img src="icons8-close-32.png" alt="close">
      </div>
      }@else {
      <div class="open">
        <img src="icons8-hamburger-menu-32.png" alt="open">
      </div>
      }
    </button>
  </div>
</header>