<div class="services_section py-5" data-aos="fade-up"
data-aos-duration="1500">
    <div class="container" >
        <p class="fs-3 title fw-semibold text-center">Our Services</p>
        <p class="fs-5 fw-medium text-center pt-3">Explore Our Expertise</p>
        <div class="box_container pt-5">
            <div class="box box-1">
                <img src="trader_16894126.gif" alt="Stock Consultant" width="60px" class="imgStyle" height="60px">
                <p class="fw-bold">Stock Consultant</p>
                <p>We provide expert stock market consultation to help you make informed investment decisions and grow your wealth.</p>
            </div>
            <div class="box box-2">
                <img src="trading_16894152.gif" alt="Certified Mutual Fund" width="60px" class="imgStyle" height="60px">
                <p class="fw-bold">Certified Mutual Fund</p>
                <p>Our certified advisors guide you through mutual fund investments, ensuring steady growth and financial security.</p>
            </div>
            <div class="box box-3">
                <img src="protection_16275716.gif" alt="Insurance Advisor" width="60px" class="imgStyle" height="60px">
                <p class="fw-bold">Insurance Advisor</p>
                <p>Get personalized insurance advice to protect your assets and plan for a secure future with our expert consultants.</p>
            </div>
            <div class="box box-4" data-aos="fade-up"
            data-aos-duration="1500">
                <img src="graphic_16104268.gif" alt="Share Market Classes" width="50px" class="imgStyle" height="60px">
                <p class="fw-bold">Share Market Classes</p>
                <p>Learn the ins and outs of the stock market with our comprehensive classes designed to empower investors.</p>
            </div>
            <div class="box box-5" data-aos="fade-up"
            data-aos-duration="1500">
                <img src="tax_16072664.gif" alt="Tax Filing" width="60px" class="imgStyle" height="60px">
                <p class="fw-bold">Tax Filing</p>
                <p>We simplify tax filing, ensuring compliance and maximizing returns for individuals and businesses.</p>
            </div>
            <div class="box box-6" data-aos="fade-up"
            data-aos-duration="1500">
                <img src="cost_15578916.gif" alt="Loan" width="60px" class="imgStyle" height="60px">
                <p class="fw-bold">Loan Services</p>
                <p>Our loan advisory services help you secure the best financing options tailored to your needs and goals.</p>
            </div>
        </div>
    </div>
</div>
