:root {

    /**
     * colors
     */

    --safety-orange: hsl(25, 100%, 50%);
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: hsl(328, 100%, 59%);
    --red-crayola: hsl(341, 100%, 49%);
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);
    --lightGray: #79808A;
    --purple:rgb(103, 61, 230);
    --blackColor-text: #020105;
    --white:rgb(255, 255, 255);

    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;

    --ff-league-spartan: 'League Spartan', sans-serif;

    --shadow-1: 0 6px 24px var(--black_5);
    --shadow-2: 0 2px 28px var(--black_10);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
}